body 
{
    text-align: justify;
    font-family: "Helvetica";
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;

    margin: 0 auto;
}
#container h1, h2
{
    font-size: 20px;
}
#vermas
{
    text-align: justify;
    color: blue;
    font-weight: bold;
}