body 
{
    text-align: justify;
    font-family: "Arial";
    color: burlywood;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: justify;
    border-left: 3px solid red;
    border-right: 3px solid blue;
    border-bottom: 1px solid orange;
    border-top: 1px solid green;

    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}